<div class="parameter-panel">
  <h2>Formula Builder for <%= @item.name %></h2>

  <div>
    <div class="formula-display" id="formulaDisplay" contenteditable="true" placeholder="Click buttons below to build a formula...">
      <%= render_formula_with_bubbles(@initial_formula.to_s) %>
    </div>

    <h4>Available parameters:</h4>
    <div class="formula-buttons">
      <% @formula_params.each do |param| %>
        <button type="button" class="formula-btn param-btn" data-template="<%= template_bubble_tag(param, DentakuKeyEncoder.encode(param)) %>"><%= param %></button>
      <% end %>
    </div>

    <h4>Operators:</h4>
    <div class="formula-buttons">
      <% %w[+ - * / ( )].each do |operator| %>
        <button type="button" class="formula-btn operator-btn" data-template="<%= operator %>"><%= operator %></button>
      <% end %>
    </div>

    <% item_id = @item.persisted? ? @item.id : "new" %>
    <%= form_with url: update_formula_admin_item_path(id: item_id), method: :post, local: true, id: "formulaForm" do %>
      <%= hidden_field_tag :calculation_formula, '', id: 'formulaInput' %>
      <div class="form-actions">
        <%= submit_tag "Save Formula", class: "button" %>
        <% back_path = @item.persisted? ? edit_admin_item_path(@item) : new_resource_path %>
        <%= link_to "Cancel", back_path, class: "button cancel-button" %>
      </div>
    <% end %>
  </div>
</div>
