<div class="d-flex justify-content-center align-items-center bg-blue-sky vh-100 px-4" style="background-image: url('<%= image_path('login_background.png') %>');">
  <div class="bg-light d-flex flex-column flex-sm-row justify-content-around align-items-center gap-2 w-100 login-card rounded-4 shadow-lg">
    <div class="login-logo w-100 pb-15">
      <%= image_tag "logo.png", alt: "Company Logo", class: "img-fluid" %>
      <div class="fs-3 mt-12">
        <span class="fw-lighter">Login to</span>
        <span class="fw-bold d-block">Sales Calculator</span>
      </div>
    </div>
    <div class="d-flex flex-column w-100 login-form">
      <div class="text-center d-flex flex-column gap-2 w-100 mb-8">
        <h2 class="text-primary fw-bold lh-lg">Welcome!</h2>
        <p class="fs-9 lh-sm">Sign in to your account</p>
      </div>
      <div class="flesh-message">
        <% if flash[:alert].present? || flash[:error].present? %>
          <div class="text-center text-danger fs-10 lh-1 m-0 w-100 mb-2" role="alert">
            <%= flash[:alert] || flash[:error] %>
          </div>
        <% end %>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field w-100 mb-6 position-relative">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control py-2 border border-primary rounded-1 lh-lg pe-10", placeholder: "Enter your e-mail" %>
          <%= f.label :email, "User", class: "border-label fs-11 fw-bold lh-sm px-1" %>
          <div class="position-absolute end-0 top-50 translate-middle-y pe-3">
            <%= image_tag "person.svg", alt: "Person Icon", class: "icon", width: "24" %>
          </div>
        </div>
        <div class="field w-100 position-relative">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control py-2 border border-primary rounded-1 lh-lg pe-10", placeholder: "Enter your password", id: "password-field" %>
          <%= f.label :password, class: "border-label fs-11 fw-bold lh-sm px-1" %>
          <div class="position-absolute end-0 top-50 translate-middle-y pe-3" role="button" id="toggle-password">
            <%= image_tag "eye_show_icon.svg", alt: "Show Password", class: "icon toggle-password", id: "eye-icon", width: "20" %>
          </div>
        </div>
        <div class="w-100 d-flex mt-2 lh-sm">
          <%= link_to "Forgot password?", 
            "mailto:#{ENV['SUPPORT_EMAIL']}?subject=Password%20Reset%20Request&body=Hello,%20I%20need%20help%20resetting%20my%20password%20for%20The%20Sales%20Calculator.%0D%0A%0D%0A" \
            "My details:%0D%0A" \
            "- Name: [please enter your name]%0D%0A" \
            "- Email: [please enter your email]%0D%0A%0D%0A" \
            "Thank you!", 
            class: "fs-10 text-end w-100 #{ENV['SUPPORT_EMAIL'].present? ? '' : 'd-none'}" %>
        </div>
        <div class="actions w-100 mt-8 mb-6">
          <%= f.submit "LOGIN", class: "btn btn-primary text-white w-100 fw-medium lh-sm rounded-2 py-4 border-0" %>
        </div>
        <div class="w-100 text-center <%= ENV['SUPPORT_EMAIL'].present? ? '' : 'd-none' %>">
          <div class="or-divider position-relative mb-3">
            <span class="text-secondary py-3">or</span>
          </div>
          <p class="lh-sm mt-4 text-secondary fs-10 lh-lg">
            If you don’t have access
            <%= link_to "request here", 
              "mailto:#{ENV['SUPPORT_EMAIL']}?subject=Access%20Request&body=Hello,%20I%20would%20like%20to%20request%20access%20to%20The%20Sales%20Calculator.%0D%0A%0D%0A" \
              "My details:%0D%0A" \
              "- Name: [please enter your name]%0D%0A" \
              "- Email: [please enter your email]%0D%0A%0D%0A" \
              "Could you provide me access?%0D%0A%0D%0A" \
              "Thank you!", 
              class: "text-primary ms-2" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag "password_toggle", defer: true %>