<div class="panel">
  <h3>Display & Control Images</h3>
  <div class="panel_contents">
    <div class="columns">
      <div class="column" style="width: 32.0%; margin-right: 2%;">
        <h3>Logo for light background:</h3>
        <% if setting.logo_light_background.attached? && setting.logo_light_background.persisted? %>
          <%= image_tag setting.logo_light_background, style: 'margin-bottom: 10px; object-fit: contain; width: 200px; max-height: 200px;' %>
          <%= button_to 'Remove', admin_setting_remove_image_path(type: 'logo_light_background'), method: :delete %>
        <% else %>
          <p>Not yet uploaded.</p>
        <% end %>
      </div>
      <div class="column" style="width: 32.0%; margin-right: 2%;">
        <h3>Logo for dark background:</h3>
        <% if setting.logo_dark_background.attached? && setting.logo_dark_background.persisted? %>
          <%= image_tag setting.logo_dark_background, style: 'margin-bottom: 10px; object-fit: contain; width: 200px; max-height: 200px;' %>
          <%= button_to 'Remove', admin_setting_remove_image_path(type: 'logo_dark_background'), method: :delete %>
        <% else %>
          <p>Not yet uploaded.</p>
        <% end %>
      </div>
      <div class="column" style="width: 32.0%;">
        <h3>Word Header Document Logo:</h3>
        <% if setting.word_header_document_logo.attached? && setting.word_header_document_logo.persisted? %>
          <%= image_tag setting.word_header_document_logo, style: 'margin-bottom: 10px; object-fit: contain; width: 200px; max-height: 200px;' %>
          <%= button_to 'Remove', admin_setting_remove_image_path(type: 'word_header_document_logo'), method: :delete %>
        <% else %>
          <p>Not yet uploaded.</p>
        <% end %>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>