<%= form_with model: setting, url: admin_setting_update_path, method: :put, html: { multipart: true } do |f| %>
  <fieldset class="inputs">
    <legend class="fieldset-title"><span>Word Document</span></legend>
    <ol>
      <li class="file input optional">
        <%= f.label "Header logo", class: 'label', for: 'setting_word_header_document_logo' %>
        <%= f.file_field :word_header_document_logo, accept: Setting::ALLOWED_IMAGE_TYPES.join(',') %>
        <% if setting.errors[:word_header_document_logo].present? %>
          <p class="inline-errors"><%= setting.errors.full_messages_for(:word_header_document_logo).to_sentence %></p>
        <% end %>
      </li>
    </ol>
  </fieldset>

  <fieldset class="inputs">
    <legend class="fieldset-title"><span>App</span></legend>
    <ol>
      <li class="file input optional">
        <%= f.label 'Logo Icon', class: 'label', for:'setting_app_logo_icon' %>
        <%= f.file_field :app_logo_icon, accept: Setting::ALLOWED_IMAGE_TYPES.join(',') %>
        <% if setting.errors[:app_logo_icon].present? %>
          <p class="inline-errors"><%= setting.errors.full_messages_for(:app_logo_icon).to_sentence %></p>
        <% end %>
      </li>
      <li class="file input optional">
        <%= f.label "Background Icon", class: 'label', for:'setting_app_background_icon' %>
        <%= f.file_field :app_background_icon, accept: Setting::ALLOWED_IMAGE_TYPES.join(',') %>
        <% if setting.errors[:app_background_icon].present? %>
          <p class="inline-errors"><%= setting.errors.full_messages_for(:app_background_icon).to_sentence %></p>
        <% end %>
      </li>
      <li class="color input optional">
        <%= f.label :primary_color, class: 'label' %>
        <%= f.color_field :primary_color, value: style.primary_color %>
      </li>
      <li class="color input optional">
        <%= f.label :secondary_color, class: 'label' %>
        <%= f.color_field :secondary_color, value: style.secondary_color %>
      </li>
      <li class="color input optional">
        <%= f.label :blue_light_color, class: 'label' %>
        <%= f.color_field :blue_light_color, value: style.blue_light_color %>
      </li>
      <li class="color input optional">
        <%= f.label :blue_sky_color, class: 'label' %>
        <%= f.color_field :blue_sky_color, value: style.blue_sky_color %>
      </li>
      <li class="color input optional">
        <%= f.label :light_color, class: 'label' %>
        <%= f.color_field :light_color, value: style.light_color %>
      </li>
    </ol>
  </fieldset>
  <%= f.submit 'Save' %>
<% end %>
<%= button_to 'Reset to Default', admin_setting_reset_path,
              method: :patch,
              'data-confirm': "Are you sure you want to reset the setting to default?",
              style: 'margin-top: 10px;' %>
